.footer {
    background: #0f172a;
    color: #cbd5e1;
    padding: 50px 20px 20px;
    margin-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer-logo {
    font-size: 24px;
    color: #d84e55;

    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #38bdf8;
}

.social-icons a {
    font-size: 20px;
    margin-right: 12px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    border-top: 1px solid #1e293b;
    padding-top: 15px;
}


.social-icons {
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #1e293b;
    color: #d84e55;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #d84e55;
    color: #0f172a;
    transform: translateY(-3px);
}